nav > a {
  padding: 5px;
  text-decoration: none;
}
nav > button.active {
  background-color: #5363BD;
}
.header-row{
  width: 100%;
}
.header-toolbar {
  margin-bottom: 20px;
}
.margin-rigth{
  margin-right: 40px !important;
}
