<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Products</h3>
          <ul>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'news' }"
                >New Products</a
              >
            </li>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'offer' }"
                >in offer</a
              >
            </li>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'latest' }"
                >Latest Products</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Acerca de Nosotros</h3>
          <ul>
            <li><a routerLink="/about-us">Sobre nosotros</a></li>
            <li><a routerLink="/stores">Nuestras tiendas</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Contacto</h3>

          <br>
          <span style="color: white;">Ricardo David Peláez Fernández</span>
          <br>
          <span style="color: white;">+ 57 300 741 4967</span>
        </div>
      </div>
    </div>
  </div>
</footer>
